<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ScoreSphere</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ScoreSphere.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ScoreSphere</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="NewMatch">My Matches</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-2">
                        <li class="nav-item">
                            @if (ViewBag.currentUser != null && ViewBag.currentUser.GetNumberOfNotifications() != null)
                            {
                                <div class="nav-link text-dark position-relative">
                                    <span class="badge bg-danger rounded-circle position-absolute top-25 start-100 translate-middle">
                                        @ViewBag.currentUser.GetNumberOfNotifications()
                                    </span>
                                    <a href="#" aria-hidden="true" onclick="toggleNotifications()">🔔</a>
                                    <div id="notificationDropdown" class="position-absolute" style="display: none; background-color: #fff; border-radius: 8px; padding: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1); width: 200px; left: -85px;">
                                        @for (int i = 0; i < ViewBag.currentUser.GetNotificationsList().Length; i++)
                                        {
                                            var notification = ViewBag.currentUser.GetNotificationsList()[i];
                                            <div style="padding: 5px;@(i == ViewBag.currentUser.GetNotificationsList().Length - 1 ? "border: none;" : "border-bottom: 1px solid #ccc;")">@notification</div>
                                        }
                                    </div>

                                </div>
                            }
                            else
                            {
                                <span class="nav-link text-dark" aria-hidden="true">🔔</span>
                            }
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Profile" asp-route-id="@ViewBag.Id">
                                My Profile
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ScoreSphere - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function toggleNotifications() {
            var dropdown = document.getElementById("notificationDropdown");
            dropdown.style.display = dropdown.style.display === "none" ? "block" : "none";
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
