@{
  ViewData["Title"] = "Create a Match";
}

<form action="/NewMatch" method="post" enctype="multipart/form-data" class="newmatch-form">

  <fieldset style="padding: 10px;">
    <legend>Create a Match</legend>
    <div style="margin-bottom: 10px;">
      <label style="margin-right: 10px;">Date of Match<input type="date" name="matchdate" style="margin-left: 10px;" /></label>
      <label>Time of Match<input type="time" name="matchtime" style="margin-left: 10px;" /></label>
    </div>
    <div style="margin-bottom: 10px;">
      <label style="margin-right: 10px;">Team 1 Name <input type="text" name="team1name" style="margin-left: 10px;" /></label>
      <label style="margin-right: 10px;">Team 2 Name <input type="text" name="team2name" style="margin-left: 10px;" /></label>
    </div>
    <div style="margin-bottom: 10px;">
      <label style="margin-right: 10px;">Team 1 Logo <input type="file" name="team1logoFile" accept="image/*" style="margin-left: 10px;" /></label>
    </div>
    <div style="margin-bottom: 10px;">
      <label style="margin-right: 10px;">Team 2 Logo <input type="file" name="team2logoFile" accept="image/*" style="margin-left: 10px;" /></label>
    </div>
    <div>
      <input type="submit" id="submit" value="Submit" style="padding: 5px 10px; margin-left: 10px;" />
    </div>
  </fieldset>
</form>





<div>
    <ul style="list-style-type: none;">
        @{
            foreach (Match match in ViewBag.Matches)
            {
                <li>
                    Team 1: @match.Team1Name<br />
                    Team 2: @match.Team2Name<br />
                    Date: @match.Date?.ToShortDateString()<br />
                    Time: @match.Date?.ToString("h:mm tt")<br />
                    Status: @{
                        if (match.IsLive.HasValue)
                        {
                            if (match.IsLive.Value)
                            {
                                <span style="color: green;">Live</span>
                            }
                            else
                            {
                                <span style="color: red;">Not Live</span>
                            }
                        }
                        else
                        {
                            <span style="color: gray;">Unknown</span>
                        }
                    }
                    

                     @if (match != null && match.Id != null)
                    {
                        <form action="/ToggleLiveStatus" method="post">
                            <input type="hidden" name="matchId" value="@match.Id" />
                            <button type="submit">Toggle Live Status</button>
                        </form>
                    }
                    

                  
                    <form action="/admin/DeleteMatch" method="post">
                        <input type="hidden" name="matchId" value="@match.Id" />
                        <button type="submit">Delete</button>
                    </form>
                </li>
            }
        }
    </ul>
</div>
